parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, array\\|string given\\.$#"
			count: 1
			path: src/Commands/PruneCommand.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, array\\|string given\\.$#"
			count: 1
			path: src/Commands/SyncCommand.php

